@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@200&family=Roboto+Mono:wght@500&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  }

.App {
  background-color: white;
  margin: 1rem;
}

.GitHub {
  margin-left: 10px;
  margin-top: 10px;
}

.Dashboard {
  text-align: center;
}

.GitGoodTitle{
  font-weight: bold;
  font-size: 75px;
  margin: 0;
}

.Tagline{
  margin-top: 5px;
  font-size:20px;
}

header{
  margin-bottom: 1rem;
}

.containers{
  display: flex;
}

.Nav {
  display: flex;
  flex-direction: column;
  outline: 2px solid #1976D2;
  border-radius: 10px;
  padding: 25px 25px;
  background-color: white;
  margin-left: 5px;
}

.CardContainer {
  outline: 2px solid #1976D2;
  border-radius: 10px;
  padding: 25px 50px;
  width: 65%;
  background-color: white;
  margin-left: 10px;
}

.Card {
  display: flex;
  flex-direction: column;
  outline: 1px solid #1976D2;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  box-shadow: 5px 5px 5px 1px #DAE1E7;
}

.Topic {
    text-align: left;
    // outline: 2px solid black;
    padding-left: 20px;
    outline: 1px solid #1976D2;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    max-width: 300px ;
    box-shadow: 5px 5px 5px 1px #DAE1E7;
}

.Topic h3 {
    display: flex;
    justify-content: space-between;
}

.deleteButtons {
    border-radius: 15px;
    background-color: black;
    color: white;
    margin-right: 15px;
      
}

.entryForm {
    border-radius: 20px;
    height: 30px;
    width: 250px;
}

.submitButtons {
    border-radius: 10px;
    margin-left: 5px;
}

.subtopicsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
//   flex-direction: row;
//   flex-wrap: wrap;
  margin: 4px;
}

.ExpandedCard {
    // display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.ExpandedCard-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    border-radius: 15px;
}

.ExpandedCard-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.subtopicBody {
    height: 300px;
    width: 100%;
    line-height: normal;
    justify-content: left;
    border-radius: 15px;
    float: right;
    border-color: lightgray;
    padding: 1em;
}

.addSubtopic {
    border-radius: 10px;
}

.titleBody {
    justify-content: left;
    border-radius: 15px;
    height:25px;
    width: 325px;
    margin-bottom: 4px;
}

.emojiBody {
    justify-content: left;
    border-radius: 15px;
    height: 25px;
    margin-bottom: 4px;
    
}

.cardButton { 
  position: absolute;
  bottom: 0;
  align-self: center;
  // justify-self: flex-end; 
}

.entryForm {
  border: 2px solid #1976D2;
}